/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{

    width: 100%;
    min-height: 100vh;
    
}


nav{
    position: fixed;
    top: 0;
    left:0;
    height: 15vh;
    width: 100%;
    background-color: #89110A;
    color: #fff;
    
}

.sidemenu .logo{

   float:left;
   margin-left:-100px;
   
}

.sidemenu{

    display:flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-left: 150px;
    
}

.nav-menu{

    display: flex;
    list-style: none;
    gap: 30px;
    
}


.admin .fa{

    background: #ffc0c0;
    padding:10px;
    border-radius: 50%;
    color: #fff; 
    margin: -6px 10px 0 50px; 
}

.mail .fa{

    color: #fff;
    margin: -2px 10px 0 50px; 

}

.nav-menu ul li{

    margin-right: 10px;
    
}


.nav-menu li:hover{

    padding-top: 10px;
    color:#EC0891;
    width: 200px;
    border-radius: 5px;
}

.nav-menu li a{

    padding-left: 15px;
    color: #fff;


    

}*/






/* */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

   }

   body{

    width: 100%;
    min-height: 100vh;
    
   }

    nav {
        background-color: #89115A;
        color: #fff;
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        
    }

    .sidemenu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo img {
        width: 160px;
        height: 80px;
    }

    .nav-menu {
        list-style: none;
        display:inline-flex;
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    .nav-menu li {
        margin-right: 20px;
        position: relative;
        white-space: nowrap;
    }

    .nav-menu li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        line-height: 30px;
    }

    .nav-menu li:hover{

        background-color:#ec0891;


        
    }


    .mail,
    .admin , .btn{
        margin-left: 30px;
        
    }

    .mail a,
    .admin a ,.btn a {
        color: #fff;
        text-decoration: none;
    }

    

    .sub-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 250px;
        background-color: #89115A;
        padding: 20px;
        line-height: 40px;
        z-index: 9999;
    }
    
    .nav-menu li:hover .sub-menu {
        display: block;  
    }
    
    .sub-menu ul {
        list-style: none;
        padding: 0;
    }
    
    .sub-menu ul li {
        margin-bottom: 10px;
    }
    
    .sub-menu ul li a {
        color: #000;
    }