/* Styles for About Us page */

#abt-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .abt-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #1687d933;
    padding: 30px;
  }
  
.abt-description {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.6;
  }
  
.abt-values1 {
    margin-bottom: 30px;
  }
.abt-values2 {
    margin-bottom: 30px;
  }
.abt-values3 {
    margin-bottom: 30px;
  }
.abt-values4 {
    margin-bottom: 30px;
  }
.abt-values5 {
    margin-bottom: 30px;
  }
.abt-values6 {
    margin-bottom: 30px;
  }
  
  .abt-values h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .abt-values ul {
    list-style: none;
    padding-left: 0;
  }
  
  .abt-values li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .abt-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }